@model Bytepad_3._0.PaperViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:50%">
    @foreach (var session in ViewBag.newList)
    {
        <br />
        <div data-toggle="collapse" href="#@session.SessionId" role="button" aria-expanded="false" aria-controls="@session.SessionId">
            <i class="fa fa-arrow-circle-down" style="font-size:24px"></i> <b style="font-size:15px">   @session.SessionName</b> (@session.Count papers)
        </div>
        <div>
            <button style="text-decoration:none" class="btn">@Html.ActionLink("Remove Session", "removePapersBySessionId", new { sessionId = session.SessionId }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })</button>
        </div>
        <div class="collapse" id="@session.SessionId">
            @foreach (var examType in session.examTypes)
            {
                <br />
                string id ="paper"+ @session.SessionId.ToString() + @examType.ExamTypeId.ToString();

                <div data-toggle="collapse" href="#@id" role="button" aria-expanded="false" aria-controls="@id">
                    <i class="fa fa-arrow-circle-down" style="font-size:12px"></i>
                    @examType.ExamTypeName (@examType.Count papers )
                </div>
                <div>
                    <button class="btn" style="text-decoration:none">@Html.ActionLink("Remove Exam Type", "removePapersByExamTypeAndSession", new { sessionId = session.SessionId, examTypeId = examType.ExamTypeId })</button>
                </div>
                <div class="collapse" id="@id">
                    @foreach (var paper in examType.Papers)
                    {
                        <div>
                            @paper.FileUrl
                        </div>
                        <div>
                            <button class="btn">@Html.ActionLink("Remove", "removePaper", new { id = paper.Id }) </button>
                            <button class="btn">@Html.ActionLink("View", "viewPaper", new { fileUrl = paper.FileUrl }, new { target = "_blank" })</button>
                        </div>
                    }

                </div>
            }
        </div>
    }
</div>
